* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  background-color: #dddedd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}